@import "tailwindcss";

@theme {
  --breakpoint-sm: 23.438rem;
}

@theme inline {
  --font-sans: var(--font-inter), san-serif;
}

@utility container {
  padding-inline: 1rem;
  margin: auto;

  @variant md {
    padding-inline: 2rem;
  }

  @variant lg {
    padding-inline: 4rem;
  }
}
