@import "tailwindcss";

@theme {
  --breakpoint-sm: 23.438rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 75rem;
}

@theme inline {
  --font-sans: var(--font-inter), san-serif;
}

@utility container {
  margin: auto;
  
  @variant sm {
    padding-inline: 1rem;
  }
  @variant md {
    padding-inline: 2rem;
  }

  @variant lg {
    padding-inline: 4rem;
  }
}
